/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#section-header{
    /* W3C */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    linear-gradient(top, #ffffff 0%,#e7e7e7 100%);
    
    /* Safari 4-5, Chrome 1-9 */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#ffffff));
    
    /* Safari 5.1, Chrome 10+ */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -webkit-linear-gradient(top, #ffffff, #e7e7e7);
    
    /* Firefox 3.6+ */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -moz-linear-gradient(top, #ffffff, #e7e7e7);
    
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -moz-linear-gradient(top, #ffffff, #e7e7e7);
    
    /* IE 10 */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -ms-linear-gradient(top, #ffffff, #e7e7e7);
    
    /* Opera 11.10+ */
    background:
    url('../header_imgs/img_header_elipse.png') no-repeat bottom left,
    -o-linear-gradient(top, #ffffff, #e7e7e7);
    
    background-size: 100% 100%;
}

#section-content{
    /* W3C */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    linear-gradient(top, #f5f5f5 0%,#e7e7e7 100%);
    
    /* Safari 4-5, Chrome 1-9 */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#f5f5f5));
    
    /* Safari 5.1, Chrome 10+ */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
    
    /* Firefox 3.6+ */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    
    /* IE 10 */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    -ms-linear-gradient(top, #f5f5f5, #e7e7e7);
    
    /* Opera 11.10+ */
    background:
    url('../body_imgs/img_body_elipse.png') no-repeat top left,
    -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    
    background-size: 80% 100%;
}

.zone-branding-wrapper{
    padding: 15px 0px 15px 0px;
}

.zone-content-wrapper{
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
}

/*---------------------------- Small Fixes Start ----------------------------*/

/*Fixing the size of the textfields of Search on the front page*/
.form-text{
    width: 150px;
}

/*---------------------------- Small Fixes End ----------------------------*/

/*---------------------------- Sidepane menu Start ----------------------------*/

div.content ul.menu li a{
    display: block;
    
    border-color: #b9b9b9 #b9b9b9 #BBBBBB;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    /*box-shadow: 1px 1px 1px #545454;*/
    color: #333333;
    
    text-shadow: 0 1px 0 #EEEEEE;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:100;
    font-size: 20px;
    text-decoration: none;
    
    padding: 10px 10px 10px 45px;
}

div.content ul.menu li a.active{
    box-shadow: 0px 2px 2px #5a5a5a inset;
}

div.content ul.menu li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

div.content ul.menu li #menu-oversigt{
    /* W3C */
    background: url('../icon_overview.png') no-repeat 15px 50%, linear-gradient(top, #fcfcfc 0%,#c0c0c0 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: url('../icon_overview.png') no-repeat 15px 50%, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#c0c0c0));
    /* Safari 5.1, Chrome 10+ */
    background: url('../icon_overview.png') no-repeat 15px 50%, -webkit-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Firefox 3.6+ */
    background: url('../icon_overview.png') no-repeat 15px 50%, -moz-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* IE 10 */
    background: url('../icon_overview.png') no-repeat 15px 50%, -ms-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Opera 11.10+ */
    background: url('../icon_overview.png') no-repeat 15px 50%, -o-linear-gradient(top, #fcfcfc, #c0c0c0);
}

div.content ul.menu li #menu-oversigt.active{
    /* W3C */
    background: url('../icon_overview.png') no-repeat 15px 50%, linear-gradient(top, #9b9b9b 0%,#e4e4e4 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: url('../icon_overview.png') no-repeat 15px 50%, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9b9b9b), to(#e4e4e4));
    /* Safari 5.1, Chrome 10+ */
    background: url('../icon_overview.png') no-repeat 15px 50%, -webkit-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Firefox 3.6+ */
    background: url('../icon_overview.png') no-repeat 15px 50%, -moz-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* IE 10 */
    background: url('../icon_overview.png') no-repeat 15px 50%,-ms-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Opera 11.10+ */
    background: url('../icon_overview.png') no-repeat 15px 50%,-o-linear-gradient(top, #9b9b9b, #e4e4e4);
}

div.content ul.menu li #menu-print-kalendar{
    /* W3C */
    background: url('../icon_print.png') no-repeat 15px 50%, linear-gradient(top, #fcfcfc 0%,#c0c0c0 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: url('../icon_print.png') no-repeat 15px 50%, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#c0c0c0));
    /* Safari 5.1, Chrome 10+ */
    background: url('../icon_print.png') no-repeat 15px 50%, -webkit-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Firefox 3.6+ */
    background: url('../icon_print.png') no-repeat 15px 50%, -moz-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* IE 10 */
    background: url('../icon_print.png') no-repeat 15px 50%, -ms-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Opera 11.10+ */
    background: url('../icon_print.png') no-repeat 15px 50%, -o-linear-gradient(top, #fcfcfc, #c0c0c0);
}

div.content ul.menu li #menu-print-kalendar.active{
    /* W3C */
    background:url('../icon_print.png') no-repeat 15px 50%,linear-gradient(top, #9b9b9b 0%,#e4e4e4 100%);
    /* Safari 4-5, Chrome 1-9 */
    background:url('../icon_print.png') no-repeat 15px 50%,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#9b9b9b), to(#e4e4e4));
    /* Safari 5.1, Chrome 10+ */
    background:url('../icon_print.png') no-repeat 15px 50%,-webkit-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Firefox 3.6+ */
    background:url('../icon_print.png') no-repeat 15px 50%,-moz-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* IE 10 */
    background:url('../icon_print.png') no-repeat 15px 50%,-ms-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Opera 11.10+ */
    background:url('../icon_print.png') no-repeat 15px 50%,-o-linear-gradient(top, #9b9b9b, #e4e4e4);
}

div.content ul.menu li #menu-sog{
    /* W3C */
    background:url('../icon_search.png') no-repeat 15px 50%,linear-gradient(top, #fcfcfc 0%,#c0c0c0 100%);
    /* Safari 4-5, Chrome 1-9 */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#c0c0c0));
    /* Safari 5.1, Chrome 10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Firefox 3.6+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-moz-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* IE 10 */
    background:url('../icon_search.png') no-repeat 15px 50%,-ms-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Opera 11.10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-o-linear-gradient(top, #fcfcfc, #c0c0c0);
}

div.content ul.menu li #menu-sog.active{
    /* fallback */
    background:url('../icon_search.png') no-repeat 15px 50%,linear-gradient(top, #9b9b9b 0%,#e4e4e4 100%);
    /* Safari 4-5, Chrome 1-9 */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#9b9b9b), to(#e4e4e4));
    /* Safari 5.1, Chrome 10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Firefox 3.6+ */
    background: url('../icon_search.png') no-repeat 15px 50%,-moz-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* IE 10 */
    background:url('../icon_search.png') no-repeat 15px 50%,-ms-linear-gradient(top, #9b9b9b, #e4e4e4);
    /* Opera 11.10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-o-linear-gradient(top, #9b9b9b, #e4e4e4);
}

#block-views-exp-meetings-search-page h2{
    /* W3C */
    background:url('../icon_search.png') no-repeat 15px 50%,linear-gradient(top, #f3f3f3 0%,#cbcbcb 100%);
    /* Safari 4-5, Chrome 1-9 */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#cbcbcb));
    /* Safari 5.1, Chrome 10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-webkit-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* Firefox 3.6+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-moz-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* IE 10 */
    background:url('../icon_search.png') no-repeat 15px 50%,-ms-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* Opera 11.10+ */
    background:url('../icon_search.png') no-repeat 15px 50%,-o-linear-gradient(top, #f3f3f3, #cbcbcb);
    
    padding-left: 45px;
}

ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

/*---------------------------- Sidepane menu End ----------------------------*/

/*---------------------------- Help buttons Start ----------------------------*/
.help-button{
    position: absolute;
    min-width: 30px;
    min-height: 30px;
    top: 10px;
    right: 10px;
    float:right;
    background: url('../icon_help.png') no-repeat 50% top;
}

/*---------------------------- Help buttons End ----------------------------*/

/*---------------------------- User logout Start ----------------------------*/
div.user-logout-block{
    position:absolute;
    right:0px;
    padding: 15px 0px 5px 5px !important;
}


.user-logout-textbox {
    color: #323232;
    text-shadow:1px 1px #f5f5f5;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:bold;
    
    border-color: #b9b9b9 #b9b9b9 #BBBBBB;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
    padding: 5px 10px 5px 10px;
}

.user-logout-btn a{
    /* fallback */
    background: url('../icon_log_out.png') no-repeat 5px 50%, linear-gradient(top, #fcfcfc 0%,#c0c0c0 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: url('../icon_log_out.png') no-repeat 5px 50%, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#c0c0c0));
    /* Safari 5.1, Chrome 10+ */
    background: url('../icon_log_out.png') no-repeat 5px 50%, -webkit-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Firefox 3.6+ */
    background: url('../icon_log_out.png') no-repeat 5px 50%, -moz-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* IE 10 */
    background: url('../icon_log_out.png') no-repeat 5px 50%, -ms-linear-gradient(top, #fcfcfc, #c0c0c0);
    /* Opera 11.10+ */
    background: url('../icon_log_out.png') no-repeat 5px 50%, -o-linear-gradient(top, #fcfcfc, #c0c0c0);
    
    border-color: #b9b9b9 #b9b9b9 #BBBBBB;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
    color: #333333;
    padding: 6px 10px 5px 30px;
    text-shadow: 0 1px 0 #EEEEEE;
}

.user-logout-btn a:link,  .user-logout-btn a:visited{
    color: #323232;
    text-shadow:1px 1px #f5f5f5;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:100;
    font-size: 12px;
    text-decoration: none;
    text-transform:uppercase;
}


/*---------------------------- User logout End ----------------------------*/


/*---------------------------- Views Start ----------------------------*/

div.attachment .view-header h3{
    color: #323232;
    text-shadow:1px 1px #f5f5f5;
    text-transform:uppercase;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:100;
    font-size: 16px;
    
    background-color: #dedede;
    padding: 5px;
}

div.date-heading h3 a, div.date-heading h3{
    color: #323232;
    text-decoration: none;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 20px;
}

.view-id-events,
.view-id-user_committee,
.view-id-user_follow_committees,
.view-id-kommende_m_der_i_mine_udvalg,
.view-id-seneste_8_m_der_i_de_st_ende_politiske_udvalg_,
.views-exposed-form,
.node,
div[class*="view-display-id-page"]  {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #b9b9b9;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 0px 0px 3px #cbcbcb inset;
}

div.view {
    padding: 1px 5px 5px 5px;
}

div.views-exposed-form {
    padding: 5px 10px 0px 20px;
}

div.attachment{
    margin-top: 30px;
}


/*---------------------------- Views End ----------------------------*/

/*---------------------------- Blocks START ----------------------------*/
h2.block-title, h1.title{
    color: #323232;
    text-shadow:1px 1px #f5f5f5;
    text-transform:uppercase;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:100;
    font-size: 20px;
    
    /* fallback */
    background: linear-gradient(top, #f3f3f3 0%,#cbcbcb 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#cbcbcb));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* IE 10 */
    background: -ms-linear-gradient(top, #f3f3f3, #cbcbcb);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #f3f3f3, #cbcbcb);
    
    padding: 5px 5px 3px 15px;
    
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-color: #b9b9b9;
}

div.front-page-info-block, .node{
    padding: 5px 10px 10px 20px;
}

div.front-page-content-block {
    margin-bottom: 50px;
}

div.block-inner{
    margin-bottom: 10px;
}
/*---------------------------- Blocks END ----------------------------*/

/*---------------------------- Date override START ----------------------------*/
.container-inline-date .form-item, .container-inline-date .form-item input {
    width: 150px;
}

.date-nav {
    clear: both;
    padding-bottom: 0px;
    width: 100%;
}

.view .date-nav-wrapper .date-prev {
    float: none;
    font-size: 12px;
    left: 10px;
    padding: 0px;
    position: absolute;
    right: auto;
    text-align: right;
    width: auto;
    z-index: 1;
    background: none;
}

.block-views .view .date-nav-wrapper .date-prev {
    left: 10px;
    right: auto;
}

.view .date-nav-wrapper .date-next {
    float: none;
    font-size: 12px;
    padding: 0px;
    position: absolute;
    right: 0;
    text-align: right;
    width: auto;
    z-index: 1;
    background: none;
}

.block-views .view .date-nav-wrapper .date-next {
    left: auto;
    right: 10px;
}

.view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
    color: inherit;
    font-size: 15px;
    text-decoration: none;
}

.calendar-calendar .mini tr td.today, .calendar-calendar .mini tr.odd td.today, .calendar-calendar .mini tr.even td.today, .calendar-calendar .mini tr td.today a {
    background-color: #790056;
    color: #feffff;
    font-weight: bold;
    border-radius: 5px;
}

/*.calendar-calendar .has-events,*/
.calendar-calendar .has-events a{
    text-decoration: none;
    background-color: #f9d4ed;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 3px 3px 8px;
}

.calendar-calendar .has-no-events div.mini-day-off{
    padding: 3px 3px 1px 8px;
}

.calendar-calendar td .inner div.day a {
    color: #790056;
}

.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today {
    background: none repeat scroll 0 0 transparent;
    border-left: 2px solid #790056;
    border-right: 2px solid #790056;
}

.calendar-calendar .month-view .full tr td.single-day.today {
    border-bottom: 2px solid #790056;
}

.calendar-calendar .month-view .full td.date-box.today {
    border-color: #790056;
    border-style: solid;
    border-width: 2px 2px 0;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today, .calendar-calendar tr td.today a {
    color: #790056;
}

.calendar-calendar td {
    color: #777777 !important;
    vertical-align: bottom;
}

/*---------------------------- Date override END ----------------------------*/

/*---------------------------- Omega globals override START ----------------------------*/
a:link, a:visited {
    color: #790056;
    text-decoration: underline;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0px;
}

.pager {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EBEBEB;
    border-color: #DDDDDD #BBBBBB #999999;
    border-radius: 5px 5px 5px 5px;
    border-width: 0px;
}

.item-list .pager {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    position: static;
}

.pager li a {
    background: none;
    cursor: pointer;
}

.pager li {
    border-right: none;
}

.form-submit, .view .date-nav-wrapper .date-next a,  .view .date-nav-wrapper .date-prev a{
    /* fallback */
    background: linear-gradient(top, #fcfcfc 0%,#c0c0c0 100%);
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#c0c0c0));
    
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fcfcfc, #c0c0c0);
    
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fcfcfc, #c0c0c0);
    
    /* IE 10 */
    background: -ms-linear-gradient(top, #fcfcfc, #c0c0c0);
    
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fcfcfc, #c0c0c0);
    
    border-color: #b9b9b9 #b9b9b9 #BBBBBB;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    
    color: #333333;
    text-shadow: 0 1px 0 #EEEEEE;
    
    padding: 5px 10px 5px 10px;
}
/*----------------------------Omega globals override END----------------------------*/

/*----------------------------Tabs override start----------------------------*/
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none;
}

ul.primary {
    border-bottom: none;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #b9b9b9;
    background-color: #cbcbcb;
    
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none outside none;
    margin: 0px;
    padding: 0px 0px 10px 5px;
    white-space: nowrap;
}

.tabs li{
    display: inline;
    list-style: none outside none;
    margin-left: 50px;
}

ul.primary li a {
    border-color: #b9b9b9;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

ul.primary li.active a {
    color: #feffff;
    font-weight: bold;
    background-color: #790056;
    border-style: none;
    padding: 5px 20px 5px 20px;
}


/*----------------------------Tabs override END----------------------------*/

/* ---------------------------- Table Styles START---------------------------- */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 0px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
  border-top-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}

tr th {
  padding: 4px 9px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: left; /* LTR */
}

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}}
/* ---------------------------- Table Styles END---------------------------- */